{{! TODO - write the template to show all the user's posts on the /dashboard route }}

{{#each posts as |post|}}

  <div class="post card">
    <div class="card-header">
      <h2>{{post.title}}</h2>
    </div>
    <div class="card-body">
      <p>{{post.body}}</p>
    </div>
    {{! Todo - create a form with the id of new-comment-form 
    Inside, create text area called post-body and a submit button.}}
    <form id="new-comment-form">
      <label for="post-body">Leave a comment</label>
      <textarea name="post-body" id="post-body"></textarea>
      <button type="submit">Submit</button>
    </form>
    <div class="card-footer">
      <a href="/dashboard/delete/{{post.id}}">Delete</a>
      <a href="/dashboard/post/edit/{{post.id}}">Edit</a>
      <a href=""></a>
    </div>
  </div>
{{/each}}

<script src="/js/comment.js"></script>